/*  eMenu  project style */

/* [ material icons - fallback font ] */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* [ change_list ] */

.i-red {
    color: #b30000;
}

.i-blue {
    color: #1976d2;
}

.back-blue {
    background: #1976d2;
}

.i-grey > i {
}

td.field-row_actions_with_delete {
    float: left;
}

td.field-row_actions_with_delete > a {
    float: left;
    display: inline-block;
    width: 50%;
}

td.field-count,
td.field-preview,
td.field-created_at,
td.field-updated_at,
td.field-is_active,
td.field-is_vegetarian {
    text-align: center;
    vertical-align: middle;
}

td.field-is_active,
td.field-is_vegetarian {
    zoom: 150%;
    padding: 0;
}

input.mt-field-title-pl,
input.mt-field-title-en {
    width: 100%;
}

div.row > h5 {
    margin-top: 7px;
    margin-left: 27px;
    padding-left: 27px;
}

div.row > a {
    margin-left: 25px;
}

#table_paginate {
    width: 58%;
}

.pager {
    display: inline-block;
}

.pager .page a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
}

.pager .current {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.current) {
    background-color: #ddd;
    color: #0a0a0a;
}

.pagination li.active:hover {
    background-color: #282928;
    color: white;
}

li.active {
    padding-left: 20px;
    padding-right: 20px;
    /*margin-top: 3px;*/
    font-size: larger;
    font-weight: 600;
    color: white;
}

.pagination {
    display: table;
    margin: 0 auto;
}

.container {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.left-menu {
    font-size: larger;
}

#header > form {
    align-content: flex-end;
    align-self: flex-end;
}

#header > form > select {
    width: 200px;
}

#language-selector > form > input.btn.btn-primary.btn-block,
.language-selector,
#language-selector {
    width: 215px;
    display: inline-block;
    zoom: 100%;
}

.topbar {
    width: 100%;
}

#language-selector-submit {
    float: left;
}

/*ICON COLORS*/
.material-icons.orange600 {
    color: #FB8C00 !important;
}

.material-icons.red600 {
    color: #bf0021 !important;
}

.material-icons.blue600 {
    color: #196cbe !important;
}

.material-icons.green600 {
    color: #00e221 !important;
}