{% extends "material/frontend/base_site.html" %}
{% load i18n static %}
{% block body %}
{% block main %}
<div class="registration" style="background:url({% static 'material/imgs/background.svg' %})">
    <div class="sidebar z-depth-3">
        <h4>{% block page_title %}{% trans 'e-Menu App' %}{% endblock %}</h4>
        {% block content %}
        <div class="row">
            <div class="col s8 offset-s2">
                {% trans "Thanks for spending some quality time with the review of project today." %}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="{% url 'login' %}" class="btn btn-primary white-text">{% trans 'Log in again' %}</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="{% url 'emenu:index' %}" class="btn btn-secondary white-text">{% trans 'Home page' %}</a>
            </div>
        </div>
        {% endblock %}
    </div>
    {% block icon_wrapper %}
    <div class="logo">
        <i class="logo__icon material-icons">{% block icon %}thumb_up{% endblock %}</i>
    </div>
    {% endblock %}
</div>
{% endblock %}
{% endblock %}
