{% load i18n static material_form %}
<div id="language-selector" class="input-field col s12 m6">
    <form action="{% url 'set_language' %}" class="viewform" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select id="language-selector-select" name="language" class="icons">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option data-icon="/static/images/{{ language.code }}.png" class="left" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input id="language-selector-submit" class="btn btn-primary btn-block back-blue" type="submit" value="{% trans 'change language' %}" />
</form>
</div>
