{% extends 'admin/base.html' %}
{% load i18n static %}

{% block title %}e-Menu Admin{% endblock %}
{% block favicon %}<link href="{% static 'material/imgs/favicon.png' %}" rel="shortcut icon">{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'emenu/css/style.css' %}"/>
{% endblock %}

{% block branding %}e-Menu{% endblock %}

{% block usertools %}
{% load i18n %}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'change language' %}" />
    </form>
    {{ block.super }}
{% endblock %}