{% extends 'emenu/index.html' %}
{% load i18n static admin_list %}

{% block title %}{% trans 'e-Menu' %}{% endblock %}
{% block jumbo %}
<h1 class="display-3 center">{% trans 'e-Menu' %}</h1>
<p class="center">{% trans 'Digital restaurant menu ' %}<strong> django </strong>app.</p>
<br><hr/>
<h1 class="display-5 center"><strong>{{ menucard.name }}</strong></h1><hr/>
<div class="row col">
    <a href="{% url 'emenu:index' %}" class="btn btn-primary white-text left back-blue">{% trans 'go back' %}</a>
    <h5 class="right">{% trans 'dishes in card' %}:<strong> {{ query_count }}</strong></h5>
</div>
{% endblock jumbo %}
{% block left-panel %}
<div class="left-panel">
    <div class="card list-card">
        <div class="card-content">
            {% if object_list %}
            <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
                <thead>
                <tr role="row">
                    <th data-name="id" class="id sorting" name="{% if ordering == 'id' %}current-order{% endif %}">
                        <strong>
                            <a href="{% url 'emenu:index' %}{{ menucard.pk }}?ordering=id&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">
                                {% trans 'Id' %}
                            </a>
                        </strong>
                    </th>
                    <th data-name="name" class="name sorting" name="{% if ordering == 'name' %}current-order{% endif %}">
                        <strong>
                            <a href="{% url 'emenu:index' %}{{ menucard.pk }}?ordering=name&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">
                                {% trans 'Name' %}
                            </a>
                        </strong></th>
                    <th data-name="is_active" class="is_active sorting" name="{% if ordering == 'is_active' %}current-order{% endif %}">
                        <strong>
                            <a href="{% url 'emenu:index' %}{{ menucard.pk }}?ordering=is_active&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">
                                {%trans 'Active' %}
                            </a>
                        </strong>
                    </th>
                    <th data-name="category__title" class="category__title sorting" name="{% if ordering == 'category__title' %}current-order{% endif %}">
                        <strong>
                            <a href="{% url 'emenu:index' %}{{ menucard.pk }}?ordering=category&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">
                                {%trans 'Categories' %}
                            </a>
                        </strong>
                    </th>
                    <th name="{% if ordering == 'image' %}current-order{% endif %}"><strong><a href="#">{% trans 'Photo' %}</a></strong></th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'emenu:menu_dish' menucard_id=menucard.pk dish_id=object.id %}">{{ object.id }}</a>
                        <td><a href="{% url 'emenu:menu_dish' menucard_id=menucard.pk dish_id=object.id %}">{{ object.name }}</a></td>
                        <td><a href="{% url 'emenu:menu_dish' menucard_id=menucard.pk dish_id=object.id %}">{{ object.is_active }}</a></td>
                        <td><a href="{% url 'emenu:menu_dish' menucard_id=menucard.pk dish_id=object.id %}">{{ object.category }}</a></td>
                        <td class="field-preview"><img src="{{ object.image.url }}" style="max-height: 80px;">
                       </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
              {% include "emenu/includes/pagination.html" %}
            </div>
            {% else %}
                <h3>{% trans 'Dish list' %}</h3>
                <p>{% trans 'no dishes found!' %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock left-panel %}


