{% extends 'emenu/index.html' %}
{% load i18n static admin_list %}

{% block title %}{% trans 'Dish' %}{% endblock %}
{% block jumbo %}
<div class="row col">
    <h1 class="display-3 text-md center">{% trans 'e-Menu' %}</h1>
    <p class="text-md center">{% trans 'Digital restaurant menu ' %}<strong> django </strong>app.</p>
</div>
<div class="row col">
    <h1 class="display-4 text-md center">{% trans 'dish:' %}<strong> {{ object.name }}</strong></h1>
    <script>function goBack() {
        window.history.back();
    }</script>
    <div class="col s12">
        <a style="margin-right:15px;" onclick="goBack()" class="btn btn-lg btn-primary white-text darken-1 left back-blue">
            {% trans 'go back' %}
        </a>
        <a href="{% url 'emenu:index' %}" class="btn btn-lg btn-secondary left back-blue">
            {% trans 'home page' %}
        </a>
    </div>
</div>
{% endblock jumbo %}

{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            {% block card %}
            <div class="card-title"><strong> {{ object.name }}</strong></div>

            <img class="responsive-img" src="{{ object.image.url }}">
            <table class="table">
                <tr>
                    <th><strong> {% trans 'is a vegetarian dish' %}:</strong></th>
                    <th class="left">
                        {% if object.is_vegetarian %}
                        <i class="left material-icons green600">check_circle</i>
                        {% else %}
                        <i class="material-icons red600">cancel</i>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>{% trans 'preparation time' %}: </th>
                    <th><strong> {{ object.preparation_time }} {% trans 'minutes' %} </strong> </th>
                </tr>
                    <tr>
                        <th>
                    <strong> {% trans 'description' %}:</strong>

                        <p>{{ object.description }}</p>
                    </th>
                </tr>
            </table>
            {% endblock %}
        </div>
        <div class="card-action">
            <div class="right-align">
                {% block actions_row %}
                {% if delete_url %}<a class="waves-effect waves-light btn red white-text" href="{{ delete_url }}">{% trans 'Delete' %}</a>{% endif %}
                {% if change_url %}<a class="waves-effect waves-light btn white-text" href="{{ change_url }}">{% trans 'Change' %}</a>{% endif %}
                {% endblock actions_row %}
            </div>
        </div>
    </div>
</div>
{% endblock left-panel %}