{% extends 'emenu/base.html' %}
{% load i18n static %}
{% block title %}{% trans 'e-Menu' %}{% endblock %}
{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="jumbotron">
        {% block jumbo %}
        <h1 class="display-3 text-md center">{% trans 'e-Menu' %}</h1>
        <p class="text-md center">{% trans 'Digital restaurant menu ' %}<strong> django </strong>app.</p>
        <hr/><h5>{% trans 'available "Menu Card" list. Click a card name to see the content.' %}</h5>
        <p>{% trans 'the columns are sortable via column header click.' %}</p>
        <div class="row col">
            <h5 class="right">{% trans 'menus' %}:<strong> {{ object_list.count }}</strong></h5>
        </div>
        {% endblock jumbo %}
        {% block left-panel %}
        <div class="left-panel">
            <div class="card list-card">
                <div class="card-content">
                    {% if object_list %}
                    <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
                        <thead>
                        <tr role="row">
                            <th data-name="id" class="id sorting" name="{% if ordering == 'id' %}current-order{% endif %}">
                                <strong><a href="{% url 'emenu:index' %}?ordering=id&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">
                                    {% trans 'Id' %}</a>
                                </strong>
                            </th>
                            <th data-name="name" class="name sorting" name="{% if ordering == 'name' %}current-order{% endif %}">
                                <strong><a href="{% url 'emenu:index' %}?ordering=name&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">
                                    {% trans 'Menu Card' %}
                                </a>
                                </strong>
                            </th>
                            <th data-name="dish_count" class="dish_count sorting" name="{% if ordering == 'dish_count' %}current-order{% endif %}">
                                <strong>
                                    <a href="{% url 'emenu:index' %}?ordering=dish_count&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">
                                    {%trans 'Dishes' %}
                                    </a>
                                </strong>
                            </th>
                            <th name="{% if ordering == 'image' %}current-order{% endif %}"><strong><a href="#">
                                {% trans 'Photo' %}
                            </a>
                            </strong>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td><a href="{{ object.id }}">{{ object.id }}</a></td>
                                <td><a href="{{ object.id }}">{{ object.name }}</a></td>
                                <td><a href="{{ object.id }}">{{ object.dish_count }}</a></td>
                                <td class="field-preview"><img src="{{ object.image.url }}" style="max-height: 80px;">
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                      {% include "emenu/includes/pagination.html" %}
                    </div>
                    {% else %}
                        <h3>{% trans 'Menu cards' %}</h3>
                        <p>{% trans 'no menus found!' %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock left-panel %}
    </div>
    <br>
    <p><a class="btn btn-primary btn-lg btn-block back-blue " href="https://bitbucket.org/michal-frackowiak-mfx/emenu" role="button"><strong><i class="material-icons md-48">face</i>{% trans 'Go to repo »' %}</strong></a></p>
{% endblock main_content %}
