{% load i18n %}
<ul class="left-menu">
    <li><a href="{% url 'emenu:index' %}"><span class="i-grey"> <i class="material-icons">home</i></span> {% trans 'Home' %}</a></li>
    <li><a href="{% url 'emenu:menucard_list' %}"><span class="i-grey"><i class="material-icons">view_agenda</i></span>{% trans 'Cards' %}</a></li>
    <li><a href="{% url 'emenu:category_list' %}"><span class="i-grey"><i class="material-icons">view_list</i></span>{% trans 'Categories' %}</a></li>
    <li><a href="{% url 'emenu:dish_list' %}"><span class="i-grey"><i class="material-icons">view_headline</i></span>{% trans 'Dishes' %}</a></li>
    <li><a href="{% url 'emenu:price_list' %}"><span class="i-grey"><i class="material-icons">euro_symbol</i></span>{% trans 'Prices' %}</a></li>
    <li><a href="{% url 'admin:index' %}"><span class="i-grey"> <i class="material-icons">settings</i></span>{% trans 'Admin' %}</a></li>
</ul>